{% extends 'UmamiGastroApp/base.html' %}

{% load static %}

{% block titulo %}
    About
{% endblock titulo %}

{% block main %}
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'UmamiGastroApp/assets/img/about.jpg' %}" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Sabores Tradicionales Japoneses</span>
                                <span class="section-heading-lower">Sobre Nosotros</span>
                            </h2>
                                <p>Fundada en 2023 por Ariel Sale, nuestra empresa se dedica a deleitar a los amantes de la cocina japonesa con una amplia variedad de sushi exquisito, postres tentadores y bebidas tradicionales japonesas. Nos enorgullece ofrecer una experiencia culinaria auténtica y de alta calidad.</p>
                                <p>Nuestros expertos chefs preparan cuidadosamente el sushi más fresco y delicioso, utilizando ingredientes de primera calidad. Además, no te puedes perder nuestros irresistibles postres japoneses, como el mochi y el dorayaki, que te transportarán directamente a las calles de Japón. Completa tu experiencia con nuestras refrescantes bebidas japonesas, como el té matcha y el sake, que complementarán perfectamente tu comida.</p>
                                <p class="mb-0">
                                    Únete a nosotros en nuestra misión de compartir la 
                                    <em>esencia</em>
                                    de la cocina japonesa, y déjate seducir por los sabores únicos y los momentos de placer que te esperan en cada bocado y sorbo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
{% endblock main %}
